<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home | TEDxGeorgiaTech Event Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<% if ((account !== null && (account.approved === false || account.approved === null))) {%>
<body class="container" style="background: white">
<div class="row" style="padding-top: 20px;">
    <div class="col-lg-8 col-lg-offset-2">
        <p class="lead">Your account has not yet been approved by an administrator. If you believe this is in error, please email <a href="mailto:tedxgeorgiatech@gmail.com">TEDxGeorgiaTech</a> with a description of your case.</p>
    </div>
</div>
</body>
<% } else { %>
<body class="container" style="background:white">
<div class="modal fade" id="new-event-modal" tabindex="-1" role="dialog" aria-labelledby="new-event-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="new-event-modal-label">New Event</h4>
            </div>
            <div class="modal-body">
                <h4>Event Details</h4>
                <form role="form" data-toggle="validator">
                    <div class="form-group">
                        <label for="event-name" class="control-label">Name</label>
                        <input class="form-control" id="event-name" required>
                        <p class="help-block">What will your event be called?</p>
                    </div>
                    <div class="form-group">
                        <label for="event-description" class="control-label">Description</label>
                        <textarea class="form-control" id="event-description" required></textarea>
                        <p class="help-block">What will your event entail? <b>Note</b>: If you want to add an image to this event description, enable Tools > Source Code and add a img tag with the image's URL as the img's src attribute.</p>
                    </div>
                    <div class="form-group">
                        <label for="event-location" class="control-label">Location</label>
                        <input class="form-control" id="event-location" required>
                        <p class="help-block">Where will your event be? <b>Note</b>: This will be used by Google Maps to help attendees get to your event, so make sure it is a valid address.</p>
                    </div>
                    <div class="form-group">
                        <label for="event-start-date" class="control-label">Start Date</label>
                        <div class='input-group date' id='event-start-date' required>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                        </div>
                        <p class="help-block">When does the event start?</p>
                    </div>
                    <div class="form-group">
                        <label for="event-start-date" class="control-label">End Date</label>
                        <div class='input-group date' id='event-end-date' required>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <p class="help-block">When does the event end?</p>
                    </div>
                    <div class="form-group">
                        <h4>
                            Ticket Categories
                            <button id="add-tc-button" class="btn btn-xs btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </h4>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        </div>
                        <p class="help-block">What types of tickets do you want to have available?</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="save-draft" type="button" class="btn btn-default" data-loading="Saving Draft...">Save Draft</button>
                <button id="save-event" type="button" class="btn btn-success" data-loading="Creating Event...">Publish</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-event-modal" tabindex="-1" role="dialog" aria-labelledby="edit-event-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-event-modal-label">Edit Event</h4>
            </div>
            <div class="modal-body">
                <h4>Event Details</h4>
                <form role="form" data-toggle="validator">
                    <div class="form-group">
                        <label for="edit-event-name" class="control-label">Name</label>
                        <input class="form-control" id="edit-event-name" required>
                        <p class="help-block">What will your event be called?</p>
                    </div>
                    <div class="form-group">
                        <label for="edit-event-description" class="control-label">Description</label>
                        <textarea class="form-control" id="edit-event-description" required></textarea>
                        <p class="help-block">What will your event entail? <b>Note</b>: If you want to add an image to this event description, enable Tools > Source Code and add a img tag with the image's URL as the img's src attribute.</p>
                    </div>
                    <div class="form-group">
                        <label for="edit-event-location" class="control-label">Location</label>
                        <input class="form-control" id="edit-event-location" required>
                        <p class="help-block">Where will your event be? <b>Note</b>: This will be used by Google Maps to help attendees get to your event, so make sure it is a valid address.</p>
                    </div>
                    <div class="form-group">
                        <label for="edit-event-start-date" class="control-label">Start Date</label>
                        <div class='input-group date' id='edit-event-start-date' required>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                        </div>
                        <p class="help-block">When does the event start?</p>
                    </div>
                    <div class="form-group">
                        <label for="edit-event-start-date" class="control-label">End Date</label>
                        <div class='input-group date' id='edit-event-end-date' required>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <p class="help-block">When does the event end?</p>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" id="edit-close-event-box"> Are Ticket Sales Closed?
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>
                            Ticket Categories
                            <button id="edit-add-tc-button" class="btn btn-xs btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </h4>
                        <div class="panel-group" id="edit-accordion" role="tablist" aria-multiselectable="true">
                        </div>
                        <p class="help-block">What types of tickets do you want to have available?</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="edit-delete-event" type="button" class="btn btn-danger pull-left" data-loading="Deleting Event...">Delete</button>
                <button id="edit-save-event" type="button" class="btn btn-success pull-right" data-loading="Saving Changes...">Publish</button>
                <button id="edit-save-draft" type="button" class="btn btn-default pull-right" data-loading="Saving Changes...">Save Draft</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Home
            <% if (account.isAdmin === true) {%>
            <div class="btn-group pull-right" role="group" aria-label="options">
                <a href="/accounts-list" class="btn btn-default">Account List</a>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#new-event-modal">
                    Add Event
                </button>
            </div>
            <% } else { %>
            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#new-event-modal">
                Add Event
            </button>
            <% } %>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-male fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <% var sumAttendees = 0;%>
                        <% events.forEach(function(event) { %>
                        <% sumAttendees += event.attendees.length; %>
                        <%});%>
                        <div class="huge"><%= sumAttendees %></div>
                        <% if (sumAttendees > 1 || sumAttendees == 0) { %>
                        <div>Attendees</div>
                        <% } else { %>
                        <div>Attendee</div>
                        <% } %>
                    </div>
                </div>
            </div>
            <a href="/attendees-list">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dollar fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <% var sumRevenue = 0;%>
                        <% events.forEach(function(event) { %>
                            <% event.ticketCategories.forEach(function (ticketCategory) { %>
                                <% if (ticketCategory !== null) { %>
                                    <% sumRevenue += (ticketCategory.price * ticketCategory.numTicketsSold); %>
                                <% } %>
                            <% }); %>
                        <% }); %>
                        <% if (isNaN(sumRevenue)) {%>
                            <% sumRevenue = 0;%>
                        <% } %>
                        <div class="huge">$<%= sumRevenue %></div>
                        <div>Revenue</div>
                    </div>
                </div>
            </div>
            <a href="https://dashboard.stripe.com">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Events</h3>
            </div>
            <% if (events.length > 0) { %>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Attendees / Tickets</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <% events.forEach(function(event) { %>
                <tr>
                    <td><a href="/event/<%= event._id %>"><%= event.name %></a> <button type="button" class="btn btn-xs btn-default" onclick="showEditEventModal(<%= JSON.stringify(event) %>)"><i class="fa fa-cog" aria-hidden="true"></i></button></td>
                    <td><%= moment(event.startDate).format('LL') %></td>
                    <% var sumTickets = 0;%>
                    <% event.ticketCategories.forEach(function(ticketCategory) { %>
                        <% if (ticketCategory !== null) { %>
                            <% sumTickets += ticketCategory.numTickets; %>
                        <% } %>
                    <%});%>
                    <td>
                        <% if (event.attendees.length > 0) { %>
                            <a href="/admin/event/<%= event._id %>/attendees"><%= event.attendees.length %></a> / <%= sumTickets %>
                        <% } else { %>
                            <%= event.attendees.length %> / <%= sumTickets %>
                        <% }%>
                    </td>
                    <td>
                        <% if (event.closed) { %>
                        Registration Closed
                        <% } else if (!event.live) { %>
                        Saved as Draft
                        <% } else { %>
                        Registration Open
                        <% }%>
                    </td>
                </tr>
                <%});%>
                </tbody>
            </table>
            <% } else { %>
            <div class="panel-body">
                <p>No events available.</p>
            </div>
            <% }%>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/bootstrap-validator/validator.min.js"></script>
<script type="text/javascript" src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector:'textarea',
        toolbar: false,
        plugins:  [
            'advlist autolink link lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'save table contextmenu directionality emoticons template paste textcolor'
        ]
    });

    $(document).on('focusin', function(e) {
        if ($(e.target).closest(".mce-window").length) {
            e.stopImmediatePropagation();
        }
    });
</script>

<script>
    $(function () {
        $('#event-start-date').datetimepicker({
            minDate: moment(),
            date: moment(),
        });
        $('#event-end-date').datetimepicker({
            minDate: moment(),
            date: moment().add(1, 'days'),
            useCurrent: false
        });

        $("#event-start-date").on("dp.change", function (e) {
            $('#event-end-date').data("DateTimePicker").minDate(e.date);
        });

        $('#edit-event-start-date').datetimepicker({
            minDate: moment()
        });
        $('#edit-event-end-date').datetimepicker({
            minDate: moment(),
            useCurrent: false
        });

        $("#edit-event-start-date").on("dp.change", function (e) {
            $('#edit-event-end-date').data("DateTimePicker").minDate(e.date);
        });
    });

    $('#save-event').click(function(event) {
        event.preventDefault();
        var $btn = $(this);
        $btn.button('loading');
        var validTC = true;
        if ($('#accordion').children('.panel').length > 0) {
            for (var j = 1; j <= $('#accordion').children('.panel').length; j++) {
                if ($('#tc-name-' + j).val() === null
                    || $('#tc-description-' + j).val() === null
                    || $('#tc-price-' + j).val() === null
                    || $('#tc-numtickets-' + j).val() === null) {
                    validTC = false;
                    break;
                }
            }
        } else {
            validTC = false;
        }

        if (validTC
            && $('#event-name').val() !== null
            && tinymce.get('event-description').getContent() !== null
            && $('#event-location').val() !== null
            && $('#event-start-date').data("DateTimePicker").date() !== null
            && $('#event-end-date').data("DateTimePicker").date() !== null
            && moment($('#event-start-date').data("DateTimePicker").date()).isBefore($('#event-end-date').data("DateTimePicker").date())
        ) {
            var eventName = $('#event-name').val();
            var eventDescription = tinymce.get('event-description').getContent();
            var eventLocation = $('#event-location').val();
            var startDate = $('#event-start-date').data("DateTimePicker").date();
            var endDate = $('#event-end-date').data("DateTimePicker").date();

            var postData = {
                "name" : eventName,
                "location" : eventLocation,
                "description" : eventDescription,
                "startDate" : startDate.toDate(),
                "endDate" : endDate.toDate(),
                "closed" : false,
                "live" : true
            }
            console.log('POSTDATA: ' + JSON.stringify(postData, null, '\t'));

            var tcData = [];
            for (var i = 1; i <= $('#accordion').children('.panel').length; i++) {
                tcData.push({
                    name: $('#tc-name-' + i).val(),
                    description: $('#tc-description-' + i).val(),
                    price: $('#tc-price-' + i).val(),
                    numTickets: $('#tc-numtickets-' + i).val(),
                    numTicketsSold: 0,
                    accessCode: ($('#tc-accesscode-' + i).val() !== null) ? $('#tc-accesscode-' + i).val() : '',
                    tickets: [],
                    gatechRestricted: false
                });
            }

            $.post("/events", postData, function(data) {
                if (data && data.hasOwnProperty('_id')) {
                    console.log('post result ' + JSON.stringify(data));
                    tcData.forEach(function(tc) {
                       tc.event = data._id;
                    });
                    var postDict = {
                        tcArr: tcData,
                        eventId: data._id
                    }

                    $.post("/ticket-categories", postDict, function(tcs) {
                        if (tcs) {
                            console.log('TCS: ' + JSON.stringify(tcs));
                            console.log('update event tcs success');
                        }

                        $('#new-event-modal').hide();
                        $btn.button('reset');
                        location.reload();
                    });
                }
            });
        } else {
            $btn.button('reset');
            console.log('invalid data');
        }
    });

    $('#save-draft').click(function(event) {
        event.preventDefault();
        var $btn = $(this);
        $btn.button('loading');
        var validTC = true;
        if ($('#accordion').children('.panel').length > 0) {
            for (var j = 1; j <= $('#accordion').children('.panel').length; j++) {
                if ($('#tc-name-' + j).val() === null
                    || $('#tc-description-' + j).val() === null
                    || $('#tc-price-' + j).val() === null
                    || $('#tc-numtickets-' + j).val() === null) {
                    validTC = false;
                    break;
                }
            }
        } else {
            validTC = false;
        }

        if (validTC
            && $('#event-name').val() !== null
            && tinymce.get('event-description').getContent() !== null
            && $('#event-location').val() !== null
            && $('#event-start-date').data("DateTimePicker").date() !== null
            && $('#event-end-date').data("DateTimePicker").date() !== null
            && moment($('#event-start-date').data("DateTimePicker").date()).isBefore($('#event-end-date').data("DateTimePicker").date())
        ) {
            var eventName = $('#event-name').val();
            var eventDescription = tinymce.get('event-description').getContent();
            var eventLocation = $('#event-location').val();
            var startDate = $('#event-start-date').data("DateTimePicker").date();
            var endDate = $('#event-end-date').data("DateTimePicker").date();

            var postData = {
                "name" : eventName,
                "location" : eventLocation,
                "description" : eventDescription,
                "startDate" : startDate.toDate(),
                "endDate" : endDate.toDate(),
                "closed" : false,
                "live" : false
            }
            console.log('POSTDATA: ' + JSON.stringify(postData, null, '\t'));

            var tcData = [];
            for (var i = 1; i <= $('#accordion').children('.panel').length; i++) {
                tcData.push({
                    name: $('#tc-name-' + i).val(),
                    description: $('#tc-description-' + i).val(),
                    price: $('#tc-price-' + i).val(),
                    numTickets: $('#tc-numtickets-' + i).val(),
                    accessCode: ($('#tc-accesscode-' + i).val() !== null) ? $('#tc-accesscode-' + i).val() : '',
                    numTicketsSold: 0,
                    tickets: [],
                    gatechRestricted: false
                });
            }

            $.post("/events", postData, function(data) {
                if (data && data.hasOwnProperty('_id')) {
                    console.log('post result ' + JSON.stringify(data));
                    tcData.forEach(function(tc) {
                        tc.event = data._id;
                    });
                    var postDict = {
                        tcArr: tcData,
                        eventId: data._id
                    }

                    $.post("/ticket-categories", postDict, function(tcs) {
                        if (tcs) {
                            console.log('TCS: ' + JSON.stringify(tcs));
                            console.log('update event tcs success');
                        }

                        $('#new-event-modal').hide();
                        $btn.button('reset');
                        location.reload();
                    });
                }
            });
        } else {
            $btn.button('reset');
            console.log('invalid data');
        }
    });

    $('#add-tc-button').on('click', function(event) {
        event.preventDefault();
        var index = $('#accordion').children('.panel').length + 1;
        var html = createTCPanelStub(index, null);
        if (index > 4) {
            $(this).attr('disabled', 'disabled');
        }
        $('#accordion').append(html);
    });

    $('#new-event-modal').on('hidden.bs.modal', function () {
        $('#accordion').empty();
    });

    $('#edit-event-modal').on('hidden.bs.modal', function () {
        $('#edit-accordion').empty();
    });

    function showEditEventModal(eventString) {
        var event = eventString;
        $('#edit-event-name').val(event.name);
        tinymce.get('edit-event-description').setContent(event.description);
        $('#edit-event-location').val(event.location);
        $('#edit-close-event-box').prop('checked', event.closed);
        $('#edit-event-start-date').data("DateTimePicker").date(moment(event.startDate));
        $('#edit-event-end-date').data("DateTimePicker").date(moment(event.endDate));

        event.ticketCategories.forEach(function(tc) {
            var index = $('#edit-accordion').children('.panel').length + 1;
            var html = createTCPanelStub(index, tc);
            if (index > 4) {
                $('#edit-add-tc-button').attr('disabled', 'disabled');
            }
            $('#edit-accordion').append(html);
        })

        $('#edit-save-event').data('event-id', event._id);
        $('#edit-save-draft').data('event-id', event._id);

        $('#edit-delete-event').on('click', function(e) {
           e.preventDefault();
           deleteEvent(eventString);
        });
        $('#edit-event-modal').modal('show');
    }

    function deleteEvent(eventString) {
        var event = eventString;
        var result = confirm('Are you sure you want to delete this event? This action is permanent.');
        if (result === true) {
            $.ajax({
                url: '/events/' + event._id,
                method: 'DELETE',
                success: function(data) {
                    if (data) {
                        console.log('some delete return data ' + data);
                    }

                    location.reload();
                }
            });
        }
    }

    function deleteTC(tcDict) {
        var result = confirm('Are you sure you want to delete this ticket category? This action is permanent.');
        if (result === true) {
            if (tcDict.tcId !== null) {
                $.ajax({
                    url: '/ticket-categories/' + tcDict.tcId,
                    method: 'DELETE',
                    success: function(data) {
                        if (data) {
                            console.log('some delete return data ' + data);
                        }

                        $('#tc-panel-' + tcDict.index).remove();
                    }
                });
            }
        }
    }

    function createTCPanelStub(index, tc) {
        var html = "";
        if (tc !== null) {
            var itemDict = {
                tcId: tc._id,
                index: index
            }
            html += "<div class=\"panel panel-default\" data-tc=\"" + itemDict.tcId + "\" id=\"tc-panel-" + index + "\">";
            html += "<div class=\"panel-heading\" role=\"tab\" id=\"heading" + index + "\">";
            html += "<h4 class=\"panel-title\">";
            html += "<a class=\"collapsed\" role=\"button\" data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#collapse" + index + "\" aria-expanded=\"false\" aria-controls=\"collapse" + index + "\">Ticket Category " + index + "</a>";
            html += "<button role=\"button\" type=\"button\" onclick='deleteTC(" + JSON.stringify(itemDict) + ")' class=\"btn btn-xs btn-default pull-right\"><i class=\"fa fa-close\" aria-hidden=\"true\"></i></button>";
            html += "</h4>";
            html += "</div>";
            html += "<div id=\"collapse" + index + "\" class=\"panel-collapse collapse\" role=\"tabpanel\" aria-labelledby=\"heading" + index + "\">";
            html += "<div class=\"panel-body\">";
            html += "<form data-toggle=\"validator\" role=\"form\">"
            html += "<label for=\"tc-name-" + index + "\">Name</label><input type=\"text\" class=\"form-control\" id=\"tc-name-" + index + "\" placeholder=\"e.g. 'General Admission' \" value=\"" + tc.name + "\" required>";
            html += "<label for=\"tc-description-" + index + "\">Description</label><textarea placeholder=\"e.g. 'Front-row seats!' \" class=\"form-control\" id=\"tc-description-" + index + "\" rows=\"2\" required>" + tc.description + "</textarea>"
            html += "<label for=\"tc-price-" + index + "\">Price</label><div class=\"input-group\"><div class=\"input-group-addon\">$</div><input type=\"number\" class=\"form-control\" id=\"tc-price-" + index + "\" placeholder=\"e.g. '0.00' \" value=\"" + tc.price + "\" required></div>";
            html += "<label for=\"tc-numtickets-" + index + "\">Number of Tickets</label><input type=\"number\" class=\"form-control\" id=\"tc-numtickets-" + index + "\" placeholder=\"e.g. '100' \" value=\"" + tc.numTickets + "\" required>";
            html += "<label for=\"tc-accesscode-" + index + "\">Access Code</label><input type=\"text\" class=\"form-control\" id=\"tc-accesscode-" + index + "\" placeholder=\"e.g. 'tedxgt-secret-access-section' \" value=\"" + tc.accessCode + "\" required>";
            html += "</form>";
            html += "</div>";
            html += "</div>";
            html += "</div>";
        } else {
            html += "<div class=\"panel panel-default\" data-tc=\"NEW ITEM\" id=\"tc-panel-" + index + "\">";
            html += "<div class=\"panel-heading\" role=\"tab\" id=\"heading" + index + "\">";
            html += "<h4 class=\"panel-title\">";
            html += "<a class=\"collapsed\" role=\"button\" data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#collapse" + index + "\" aria-expanded=\"false\" aria-controls=\"collapse" + index + "\">Ticket Category " + index + "</a>";
            html += "</h4>";
            html += "</div>";
            html += "<div id=\"collapse" + index + "\" class=\"panel-collapse collapse\" role=\"tabpanel\" aria-labelledby=\"heading" + index + "\">";
            html += "<div class=\"panel-body\">";
            html += "<form data-toggle=\"validator\" role=\"form\">"
            html += "<label for=\"tc-name-" + index + "\">Name</label><input type=\"text\" class=\"form-control\" id=\"tc-name-" + index + "\" placeholder=\"e.g. 'General Admission' \" value=\"New TC\" required>";
            html += "<label for=\"tc-description-" + index + "\">Description</label><textarea placeholder=\"e.g. 'Front-row seats!' \" class=\"form-control\" id=\"tc-description-" + index + "\" rows=\"2\" required>New TC Details</textarea>"
            html += "<label for=\"tc-price-" + index + "\">Price</label><div class=\"input-group\"><div class=\"input-group-addon\">$</div><input type=\"number\" class=\"form-control\" id=\"tc-price-" + index + "\" placeholder=\"e.g. '0.00' \" value=\"0.00\" required></div>";
            html += "<label for=\"tc-numtickets-" + index + "\">Number of Tickets</label><input type=\"number\" class=\"form-control\" id=\"tc-numtickets-" + index + "\" placeholder=\"e.g. '100' \" value=\"100\" required>";
            html += "<label for=\"tc-accesscode-" + index + "\">Access Code</label><input type=\"text\" class=\"form-control\" id=\"tc-accesscode-" + index + "\" placeholder=\"e.g. 'tedxgt-secret-access-section' \" value=\"\" required>";
            html += "</form>";
            html += "</div>";
            html += "</div>";
            html += "</div>";
        }
        return html;
    }

    $('#edit-add-tc-button').on('click', function(event) {
        event.preventDefault();
        var index = $('#edit-accordion').children('.panel').length + 1;
        var html = createTCPanelStub(index, null);
        if (index > 4) {
            $(this).attr('disabled', 'disabled');
        }
        $('#edit-accordion').append(html);
    });

    $('#edit-save-event').click(function(e) {
        e.preventDefault();
        var $btn = $(this);
        $btn.button('loading');
        var validTC = true;
        if ($('#edit-accordion').children('.panel').length > 0) {
            for (var j = 1; j <= $('#edit-accordion').children('.panel').length; j++) {
                if ($('#tc-name-' + j).val() === null
                    || $('#tc-description-' + j).val() === null
                    || $('#tc-price-' + j).val() === null
                    || $('#tc-numtickets-' + j).val() === null) {
                    validTC = false;
                    break;
                }
            }
        } else {
            validTC = false;
        }

        if (validTC
            && $('#edit-event-name').val() !== null
            && tinymce.get('edit-event-description').getContent() !== null
            && $('#edit-event-location').val() !== null
            && $('#edit-event-start-date').data("DateTimePicker").date() !== null
            && $('#edit-event-end-date').data("DateTimePicker").date() !== null
            && moment($('#edit-event-start-date').data("DateTimePicker").date()).isBefore($('#edit-event-end-date').data("DateTimePicker").date())
        ) {
            var eventName = $('#edit-event-name').val();
            var eventDescription = tinymce.get('edit-event-description').getContent();
            var eventLocation = $('#edit-event-location').val();
            var startDate = $('#edit-event-start-date').data("DateTimePicker").date();
            var endDate = $('#edit-event-end-date').data("DateTimePicker").date();
            var closedStatus = $('#edit-close-event-box').is(":checked");

            var postData = {
                "name" : eventName,
                "location" : eventLocation,
                "description" : eventDescription,
                "startDate" : startDate.toDate(),
                "endDate" : endDate.toDate(),
                "live" : true,
                "closed" : closedStatus
            }

            var tcUpdates = [];
            for (var i = 1; i <= $('#edit-accordion').children('.panel').length; i++) {
                tcUpdates.push({
                    _id: $('#tc-panel-' + i).data('tc'),
                    name: $('#tc-name-' + i).val(),
                    description: $('#tc-description-' + i).val(),
                    price: $('#tc-price-' + i).val(),
                    numTickets: $('#tc-numtickets-' + i).val(),
                    accessCode: ($('#tc-accesscode-' + i).val() !== null) ? $('#tc-accesscode-' + i).val() : '',
                    event: $('#edit-save-event').data('event-id'),
                    gatechRestricted: false
                });
            }

            $.ajax({
                url: '/events/' + $('#edit-save-event').data('event-id'),
                method: 'PUT',
                data: postData,
                success: function (data) {
                    if (data) {
                        console.log('EVENT CHNG: ' + JSON.stringify(data));
                        console.log('update event success');
                    }
                    //bulk update tcs
                    $.ajax({
                        url: '/ticket-categories',
                        method: 'PUT',
                        data: {
                            tcUpdates: tcUpdates
                        },
                        success: function (data) {
                            if (data) {
                                console.log('TCS: ' + JSON.stringify(data));
                                console.log('upsert event tcs success');
                            }
                            $('#edit-event-modal').hide();
                            $btn.button('reset');
                            location.reload();
                        }
                    });
                }
            });
        } else {
            $btn.button('reset');
            console.log('invalid data');
        }
    });

    $('#edit-save-draft').click(function(e) {
        e.preventDefault();
        var $btn = $(this);
        $btn.button('loading');
        var validTC = true;
        if ($('#edit-accordion').children('.panel').length > 0) {
            for (var j = 1; j <= $('#edit-accordion').children('.panel').length; j++) {
                if ($('#tc-name-' + j).val() === null
                    || $('#tc-description-' + j).val() === null
                    || $('#tc-price-' + j).val() === null
                    || $('#tc-numtickets-' + j).val() === null) {
                    validTC = false;
                    break;
                }
            }
        } else {
            validTC = false;
        }

        if (validTC
            && $('#edit-event-name').val() !== null
            && tinymce.get('edit-event-description').getContent() !== null
            && $('#edit-event-location').val() !== null
            && $('#edit-event-start-date').data("DateTimePicker").date() !== null
            && $('#edit-event-end-date').data("DateTimePicker").date() !== null
            && moment($('#edit-event-start-date').data("DateTimePicker").date()).isBefore($('#edit-event-end-date').data("DateTimePicker").date())
        ) {
            var eventName = $('#edit-event-name').val();
            var eventDescription = tinymce.get('edit-event-description').getContent();
            var eventLocation = $('#edit-event-location').val();
            var startDate = $('#edit-event-start-date').data("DateTimePicker").date();
            var endDate = $('#edit-event-end-date').data("DateTimePicker").date();
            var closedStatus = $('#edit-close-event-box').is(":checked");

            var postData = {
                "name" : eventName,
                "location" : eventLocation,
                "description" : eventDescription,
                "startDate" : startDate.toDate(),
                "endDate" : endDate.toDate(),
                "live" : false,
                "closed" : closedStatus
            }

            var tcUpdates = [];
            for (var i = 1; i <= $('#edit-accordion').children('.panel').length; i++) {
                tcUpdates.push({
                    _id: $('#tc-panel-' + i).data('tc'),
                    name: $('#tc-name-' + i).val(),
                    description: $('#tc-description-' + i).val(),
                    price: $('#tc-price-' + i).val(),
                    accessCode: ($('#tc-accesscode-' + i).val() !== null) ? $('#tc-accesscode-' + i).val() : '',
                    numTickets: $('#tc-numtickets-' + i).val(),
                    event: $('#edit-save-event').data('event-id'),
                    gatechRestricted: false
                });
            }

            $.ajax({
                url: '/events/' + $('#edit-save-event').data('event-id'),
                method: 'PUT',
                data: postData,
                success: function (data) {
                    if (data) {
                        console.log('EVENT CHNG: ' + JSON.stringify(data));
                        console.log('update event success');
                    }
                    //bulk update tcs
                    $.ajax({
                        url: '/ticket-categories',
                        method: 'PUT',
                        data: {
                            tcUpdates: tcUpdates
                        },
                        success: function (data) {
                            if (data) {
                                console.log('TCS: ' + JSON.stringify(data));
                                console.log('upsert event tcs success');
                            }
                            $('#edit-event-modal').hide();
                            $btn.button('reset');
                            location.reload();
                        }
                    });
                }
            });
        } else {
            $btn.button('reset');
            console.log('invalid data');
        }
    });

</script>

</body>
<% }%>
</html>
