<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> <%= event.name %> | TEDxGeorgiaTech Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TEDxGeorgia Tech Conference information website." />
    <meta name="keywords" content="ted, tedx, georgia tech, gt, gatech" />
    <meta name="author" content="TEDxGeorgiaTech" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="TEDxGeorgiaTech 2016-2017" />
    <meta property="og:image" content="/images/stickers.jpg" />
    <meta property="og:url" content="http://tedxgeorgiatech.com" />
    <meta property="og:site_name" content="TEDxGeorgiaTech" />
    <meta property="og:description" content="TEDxGeorgiaTech Official Website" />
    <meta name="twitter:title" content="TEDxGeorgiaTech 2016-2017" />
    <meta name="twitter:image" content="images/stickers.jpg" />
    <meta name="twitter:url" content="http://tedxgeorgiatech.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@TEDxGeorgiaTech">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/images/icons/favicon.png">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="/css/red.css">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <div class="modal fade" id="buy-event-ticket-modal" tabindex="-1" role="dialog" aria-labelledby="buy-event-ticket-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="buy-event-ticket-modal-label">Buy Event Ticket</h4>
                </div>
                <div class="modal-body">
                    <form role="form" data-toggle="validator" id="attDataForm">
                        <div class="form-group has-feedback">
                            <label for="charge-name" class="control-label">Name</label>
                            <input class="form-control" id="charge-name" data-error="Please complete this field" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="charge-email" class="control-label">Email</label>
                            <input type="email" class="form-control" id="charge-email" data-error="Not a valid email address" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input id="buy-event-ticket-button" style="float:right;" type="submit" value="Reserve Ticket" class="btn btn-danger pull-right" data-loading="Validating...">
                            <div class="clearfix"></div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 faux-section-heading text-center">
            <h1><%= event.name %></h1>
            <!--startDate : moment(result.startDate).local().format('LT'),-->
            <!--startDay : moment(result.startDate).local().format('LL'),-->
            <!--endDate : moment(result.endDate).local().format('LT'),-->
            <!--endDay : moment(result.endDate).local().format('LL')-->
            <% var startDay = event.startDate.format('LL'); %>
            <% var endDay = event.endDate.format('LL'); %>
            <% if (startDay === endDay) { %>
            <h3><%= event.startDate.format('LT') %> - <%= event.endDate.format('LT') %> <%= moment.tz.zone('America/New_York').abbr(event.startDate) %> | <%= startDay %></h3>
            <% } else { %>
            <h3><%= event.startDate.format('LT') %> <%= moment.tz.zone('America/New_York').abbr(event.startDate) %> <%= startDay %> - <%= event.endDate.format('LT') %> <%= moment.tz.zone('America/New_York').abbr(event.endDate) %> <%= endDay %></h3>
            <% }%>
            <h4><a href="http://maps.google.com/?q=<%=event.location%>"><%= event.location %></a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 faux-section-heading">
            <h2 class="text-center">DETAILS</h2>
            <h3 style="text-align:left;">
                <%- event.description %>
            </h3>
        </div>
    </div>
    <% if ((event.closed !== null && event.closed === false) && event.ticketCategories !== null && event.ticketCategories.length > 0) { %>
    <div class="row">
        <div class="col-md-12 faux-section-heading text-center">
            <h2>TICKETS</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 subtext">
                    <table class="table">
                        <caption>Available as of <%= moment().tz('America/New_York').format('llll') %>.</caption>
                        <tbody>
                            <% event.ticketCategories.forEach(function(ticketCategory, idx, array) { %>
                                    <% if (ticketCategory.numTickets - ticketCategory.numTicketsSold > 0) {%>
                                        <tr>
                                            <th><%= ticketCategory.name %> (<%= ticketCategory.numTickets - ticketCategory.numTicketsSold %> left)</th>
                                            <td align="center"><%= ticketCategory.description %></td>
                                            <% if (ticketCategory.price > 0) { %>
                                            <td align="right"><button type="button" role="button" class="btn btn-sm btn-danger buy-tc-button" data-idx="<%= idx %>">Buy ($<%= ticketCategory.price %>)</button></td>
                                            <% } else { %>
                                            <td align="right"><button type="button" role="button" class="btn btn-sm btn-danger buy-tc-button" data-idx="<%= idx %>">Reserve</button></td>
                                            <% } %>
                                        </tr>
                                    <% } else { %>
                                        <tr>
                                            <th><%= ticketCategory.name %></th>
                                            <td align="center"><%= ticketCategory.description %></td>
                                            <td align="right">SOLD OUT</td>
                                        </tr>
                                    <% } %>
                            <%  }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 faux-section-heading text-center">
            <h2>SHARE</h2>
            <h3 class="subtext">Let all your friends know about this upcoming event!</h3>
            <ul class="social social-circle">
                <li><a href="https://twitter.com/home?status=Check%20out%20@TEDxGeorgiaTech's%20event:%20<%= event.name %>!%20http://tedxgeorgiatech.com/event/<%= event._id %>"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="http://www.facebook.com/share.php?u=http://tedxgeorgiatech.com/event/<%= event._id %>"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="mailto:%20?Subject=Check%20out%20TEDxGeorgiaTech%27s%20event%3A%20<%= event.name %>%21&Body=I%20think%20you%27d%20be%20interested%20in%20this%3A%20http://tedxgeorgiatech.com/event/<%= event._id %>%21"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <% } else { %>
    <div class="row">
        <div class="col-md-12 faux-section-heading text-center">
            <h3>Ticket sales are now closed. Thank your for your interest!</h3>
        </div>
    </div>
    <% } %>
</div>

<footer id="footer">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-12">
                <p class="copyright text-center">&copy; 2017 Georgia Tech. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>

<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-thumbs.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>

<script src="/js/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.8/validator.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
    function postCharge(token, tcData, attData) {
        $.post("/reservation",
            {
                token: token,
                attData: attData,
                tcData: tcData
            },
            function(data) {
                console.log("DATA: " + JSON.stringify(data, null, '\t'));
                if (data["status"] == "ok") {
                    window.location = "/confirmation/" + data.ticket._id;
                } else {
                    // Deal with error
                    alert(data["message"]);
                }
            }
        );
    }

    function createCheckoutHandler(tcData, attData) {
        return StripeCheckout.configure({
            key: '<%= stripePublicKey %>',
            image: 'https://s3.amazonaws.com/stripe-uploads/acct_19TjOqL8uyFSYIC3merchant-icon-1482465189740-TEDxGeorgiaTech_black_logo-2.png',
            locale: 'auto',
            panelLabel: 'Pay {{amount}}',
            email: attData.email,
            token: function(token) {
                // Send the charge through
                postCharge(token, tcData, attData);
            }
        });
    }

    $('.buy-tc-button').on('click', function(e) {
        e.preventDefault();
        $('#buy-event-ticket-button').data('idx', $(this).data('idx'));
        $('#buy-event-ticket-modal').modal('show');
    });

    $('#buy-event-ticket-button').on('click', function(e) {
        e.preventDefault();
        var tcIdx = $('#buy-event-ticket-button').data('idx');
        var tcs = <%- JSON.stringify(event.ticketCategories) %>;
        var tcData = tcs[tcIdx];
        var attData =  { name: $('#charge-name').val(), email: $('#charge-email').val() };

        if (tcData.price !== 0 && tcData.price !== '0' && tcData.price !== '0.00' && tcData.price !== 0.00) {
            var handler = createCheckoutHandler(tcData, attData);
            handler.open({
                name: 'TEDxGeorgiaTech',
                description: "Ticket for " + tcData.name  + " section in event <%= event.name %>",
                amount: tcData.price * 100
            });
            e.preventDefault();
            $(window).on('popstate', function() {
                handler.close();
            });
        } else {
            postCharge('', tcData, attData);
        }
    });

</script>

<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-75211006-1', 'auto');
    ga('send', 'pageview');

</script>

</body>

</html>
