<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= event.name %> Settings</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="container" style="background:white">
<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Event Editor</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <form>
        <div class="form-group">
            <label for="event-name" class="control-label">Name</label>
            <input class="form-control" id="event-name" value="<%= event.name %>">
        </div>
        <div class="form-group">
            <label for="event-description" class="control-label">Description</label>
            <textarea class="form-control" id="event-description"><%= event.description %></textarea>
        </div>
        <div class="form-group">
            <label for="event-location" class="control-label">Location</label>
            <input class="form-control" id="event-location" value="<%= event.location %>">
        </div>
        <div class="form-group">
            <label for="event-url" class="control-label">URL</label>
            <input type="text" class="form-control" id="event-url" value="<%= event.url %>">
        </div>
        <div class="form-group">
            <label for="event-start-date" class="control-label">Start Date</label>
            <div class='input-group date' id='event-start-date'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label for="event-start-date" class="control-label">End Date</label>
            <div class='input-group date' id='event-end-date'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
            </div>
        </div>
    </form>
    <button id="save-event" type="button" class="btn btn-danger float-right" data-dismiss="modal">Save</button>
</div>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<script src="/js/moment.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.min.js"></script>
<script>
    jQuery.each( [ "put", "delete" ], function( i, method ) {
        jQuery[ method ] = function( url, data, callback, type ) {
            if ( jQuery.isFunction( data ) ) {
                type = type || callback;
                callback = data;
                data = undefined;
            }

            return jQuery.ajax({
                url: url,
                type: method,
                dataType: type,
                data: data,
                success: callback
            });
        };
    });
</script>

<script src="/js/cookie.js"></script>

<script>
    $(function () {
        $('#event-start-date').datetimepicker({
            minDate: moment()
        });
        $('#event-end-date').datetimepicker({
            minDate: moment()
        });
    });

    $('#save-event').click(function(event) {
        event.preventDefault();
        if ($('#event-name').val() !== null
            && $('#event-description').val() !== null
            && $('#event-location').val() !== null
            && $('#event-url').val() !== null
            && $('#event-start-date').data("DateTimePicker").date() !== null
            && $('#event-end-date').data("DateTimePicker").date() !== null
        ) {
            var eventName = $('#event-name').val();
            var eventDescription = $('#event-description').val();
            var eventLocation = $('#event-location').val();
            var eventUrl = $('#event-url').val();
            var startDate = $('#event-start-date').data("DateTimePicker").date().toDate();
            var endDate = $('#event-end-date').data("DateTimePicker").date().toDate();


            var postData = {
                "name" : eventName,
                "location" : eventLocation,
                "description" : eventDescription,
                "url" : eventUrl,
                "start-date" : startDate,
                "end-date" : endDate
            }
            console.log(postData);

            $.put("/events/<%= event._id %>", postData, function(data) {
                console.log('put result ' + data);
            });

        } else {
            console.log('invalid data');
        }
    });

</script>
</body>
</html>